.container {
  /* background-color: #dfdfe0; */
  
  background-image: linear-gradient(to right , #43C6AC, #191654);
  height: 100vh;

  width: 100%;
  box-sizing: border-box;
}
.subContainer{
   
    padding: 6% 5%;
    display: flex;
  justify-content: space-around;
}
.leftContent {
  width: 70%;
}
.rightContent {
  width: 22%;
}
